NET"RESET"LOC="C12";
NET"SBT"LOC="F16";
NET"SMM"LOC="D18";
NET"SMP"LOC="D14";
NET"STP"LOC="C17";
NET"PB1"LOC="P18";
NET"PB2"LOC="N17";
NET"PB3"LOC="M18";
NET"state0"LOC="V11";
NET"state1"LOC="V12";
NET"state2"LOC="V14";
NET"state3"LOC="V15";
NET"state4"LOC="T16";
NET"state5"LOC="U14";
NET"state6"LOC="T15";
NET"MO"LOC="K1";
NET"M1 "LOC="F6";
NET"RESET"IOSTANDARD=LVCMOS33;
NET"SBT"IOSTANDARD=LVCMOS33;
NET"SMM"IOSTANDARD=LVCMOS33;
NET"SMP"IOSTANDARD=LVCMOS33;
NET"STP"IOSTANDARD=LVCMOS33;
NET"PB1"IOSTANDARD=LVCMOS33;
NET"PB2"IOSTANDARD=LVCMOS33;
NET"PB3"IOSTANDARD=LVCMOS33;
NET"state0"IOSTANDARD=LVCMOS33;
NET"state1"IOSTANDARD=LVCMOS33;
NET"state2"IOSTANDARD=LVCMOS33;
NET"state3"IOSTANDARD=LVCMOS33;
NET"state4"IOSTANDARD=LVCMOS33;
NET"state5"IOSTANDARD=LVCMOS33;
NET"state6"IOSTANDARD=LVCMOS33;
NET"MO"IOSTANDARD=LVCMOS33;
NET"M1"IOSTANDARD=LVCMOS33;